#hero {
    height: 100vh;
    width: 100%;
    background-color: #0a7482;
}

#hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

#hero header {
    position: relative;
    z-index: 20;
}

/*typography*/
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
}

body {
    font-family: Biryani, sans-serif;
    font-weight: 300;
    color: #fcfdf8;
}

/* background*/
body {
    background-color: #0a7482;
}

/*headings and logo*/
h1,
h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fcfdf8;
    margin-bottom: 3%;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
    color: #fcfdf8;
}

/*navigation links*/
#menu {
    font-size: 110%;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #fcfdf8;
}

.active {
    border-bottom: 1px solid #fcfdf8;
}

/*Welcome & Health Benefits Sections*/

.text {
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;
    font-size: 120%;
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    margin: 1%;
    padding: 2% 5%;
}

.left_about {
    float: left;
    height: 100%;
    min-height: 100%;
    width: 40%;
    background-color: #24494f;
    padding: 2%;
}

.right_about {
    width: 45%;
    float: right;
    height: 80%;
    display: flex;
    justify-content: right;
}

.benefits_list {
    margin-left: 4%;
}

.link_images {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    transition: all .4s ease-in-out;
}

.link_images:hover {
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
    transform: scale(1.1); 
}

/*footer*/
footer {
    margin: 2%;
    color: #fcfdf8;
    text-align: center;
}

.social-network>li {
    display: inline-grid;
    grid-auto-flow: column;
    font-size: 170%;
    letter-spacing: 30px;
}

.social-network i {
    font-size: 80%;
    color: #fcfdf8;
    margin-top: 25%;
}

/*Hero images on Treatments and Contact Us pages*/
.hero-image {
    height: 100%;
    width: 100%;
    background-image: no-repeat center center;
    zoom: 30%;
}

/*Treatment page grid*/
/*copied from https://grid.layoutit.com/ */

.treatments {
    width: 100%;
    height: 400px;
}

.grid-container {
    display: grid; 
    grid-template-columns: 1fr 33.33% 33.33%; 
    grid-template-rows: 1fr 50%; 
    grid-template-areas: 
        "area1 area2 area3"
        "area4 area5 area6";
    gap: 5px 5px; 
    width: 100%; 
    height: 400px; 
    margin-top: 10%;
    margin-bottom: 20%;
    padding: 5%;
  }

.grid-container > div {
    width: 100%; 
    height: 300%; 
}


.grid-container img {
    width: 100%;
}

#picture1 {
    grid-area: area1;
}

#picture2 {
    grid-area: area2;
}

#picture3 {
    grid-area: area3;
}

#picture4 {
    grid-area: area4;
}

#picture5 {
    grid-area: area5;
}

#picture6 {
    grid-area: area6;
}

/*Form in Contact Us page*/
/*Some styling for the form has been inspired by https://elainebroche-dev.github.io/ms1-thrive/contact.html*/
.form.container {
    min-height: 100%;
    width: 50%;
    padding-left:2%;
    float: left;
    background-color: #24494f;
    padding-bottom: 2%;
}

.input {
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.left-side h2 {
    text-transform: uppercase;
    font-size: 180%;
}

#feedback-enquiry {
    background: #fcfdf8;
    font-family: Biryani, sans-serif;
    font-size: 80%;
    font-weight: 500;
    width: 80%;
    height: 40%;
    margin: 2% 0 2% 0;
    padding-bottom: 5%;
}

/*Button styling*/
/*coding from https://www.w3schools.com/csS/css3_buttons.asp#:~:text=Use%20the%20border-radius%20property%20to%20add%20rounded%20corners,to%20a%20button%3A%20Example.button1%20%7Bborder-radius%3A%202px%3B%7D.button2%20%7Bborder-radius%3A%204px%3B%7D*/
.button {
    transition-duration: 0.4s;
    border-radius: 10%;
    font-size: 100%;
    padding: 2%;
    background-color: #fcfdf8;
    border: #24494f solid;
}

.button:hover {
    background-color: #0a7482;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 4px 4px 0 rgba(0,0,0,0.19);
}

/*Googlemaps*/
.right-side {
    width: 100%;
    height: 150%;
    float: right;
}

#map {
    width: 100%;
    height: 70%;
    margin-right: 10%;
}

/*Email link in Contact Us page*/
a:link {
    color: #fcfdf8;
    text-underline-position: below;
}

a:hover {
    color: #24494f
}

/*media queries*/
/*for screens up to 950px*/
@media screen and (max-width: 950px) {
    #hero {
        font-size: 88%;
    }

    #logo {
        font-size: 180%;
    }

    .text {
        font-size: 90%;
        width: 100%;
    }
}

/*for screens up to 650px*/
@media screen and (max-width: 650px) {
    #hero {
        font-size: 88%;
    }

    #logo {
        font-size: 130%;
    }

    .text {
        font-size: 80%;
        width: 85%;
    }
}