#hero {
    height: 100vh;
    width: 100%;
    background-color: #0a7482;
}

#hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

#hero header {
    position: relative;
    z-index: 20;

}

/*typography*/
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Biryani, sans-serif;
    font-weight: 300;
    color: #fcfdf8;
}
    
/*lower background*/
body {
    background-color: #0a7482;
}

/*headings and logo*/
h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fcfdf8;
}   

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
    color: #fcfdf8;
    
}

/*navigation links*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #fcfdf8;
}

.active {
    border-bottom: 1px solid #fcfdf8;
}

/*Welcome & Health Benefits Sections*/
.text {
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.left_about {
    width:63%;
    float:left;
    height:100%;
    margin-left: 2%;
}

.right_about {
    width:40%;
    float:right;
    height:100%;
    margin-right: 2%; 
    display: flex;
    justify-content: flex-end;
    }

.benefits_list {
    margin-left: 4%;
}

img {
    width: 400px;
    height: 290px;
}

/*footer*/
footer {
    margin: 2%;
    color: #fcfdf8;
    text-align: center;
}

.social-network > li {
    display: inline-grid;
    grid-auto-flow: column;
    font-size: 170%;
    letter-spacing: 30px;
}

.social-network i {
    font-size: 80%;
    color: #fcfdf8;
    margin-top: 25%;
}